:root {
    --a: #7e2358;
    --bg--fond--body: #eeeaf5;
    --bg--fond--nav: #f3f1f9;
    --bg--ombre--nav: #ccbbcc;
    --font-fam: sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--font-fam);
}

a {
    text-decoration: none;
    color: var(--a);
    font-weight: bold;
}

body {
    background-color: var(--bg--fond--body);
    min-height: 100vh;
}

.header {
    display: block;
    background-color: var(--bg--fond--nav);
    box-shadow: 0 0 20px 0 var(--bg--ombre--nav);
    padding: 0.7rem 2rem;
}

.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: auto;
}

.logo a {
    font-size: 2rem;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
    align-items: center;
}

.menu li {
    list-style: none;
    padding: 0 1rem;
}

.menu a {
    font-size: 1rem;
}

.lien-gh {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}






.contenu {
    display: flex;
    padding: 1rem;
    justify-content: center;
    min-height: 75vh;
}

.footer {
    display: block;
    padding: 0.7rem 2rem;
}

.foot-container {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}