.content {
    display: block;

    .content-container {
        padding: 1rem;
        border: 1px solid #AA88AA;
        max-width: $windowMaxSize;
        margin: auto;

        .content-container-formlogin {
            display: flex;
            justify-content: center;
            align-content: center;

            form {
                display: flex;
                flex-direction: column;
            }
        }
    }
}