.header {
    display: block;
    background-color: $couleurFondNav;
    box-shadow: 0 0 20px 0 $couleurOmbreNav;
    padding: 0.7rem 2rem;

    .header-insidepart {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: $windowMaxSize;
        margin: auto;

        .header-insidepart-logo {
            a {
                font-size: 2rem;

                &:hover {
                    color: $couleurAhover;
                }
            }
        }

        .header-insidepart-navmenu {
            display: flex;
            align-items: center;

            .header-insidepart-navmenu-ul {
                display: flex;
                align-items: center;

                li {
                    list-style: none;
                    padding: 0 1rem;

                    a {
                        font-size: 1rem;

                        &:hover {
                            color: $couleurAhover;
                        }
                    }
                }
            }

            .header-insidepart-navmenu-ghlink {
                margin-left: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }



    }

}