* {
    margin: 0;
    padding: 0;
    color: $couleurTexte;
}

body {
    background-color: $couleurFondBody;
    font-family: $fontFam;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
}

a {
    text-decoration: none;
    color: $couleurPrimaire;
    font-weight: bold;

    &:hover {
        color: $couleurSecondaire;
    }
}

button {
    text-decoration: none;
    color: $couleurTexteInverse;
    background: $couleurPrimaire;
    padding: 4px 6px;
    border: 1px solid $couleurPrimaire;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        background-color: $couleurSecondaire;
        border: 1px solid $couleurSecondaire;
    }
}

.souligne {
    text-decoration: underline;
}