@use './variables';

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: variables.$couleurFondBody;
    font-family: variables.$fontFam;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: variables.$couleurA;
    font-weight: bold;
}