// Couleurs
$couleurPrimaire: #7e2358;
$couleurSecondaire: #be6398;

$couleurTexte: #333333;
$couleurTexteInverse: #FFFFFF;

$couleurFondBody: #eeeaf5;

$couleurFondNav: #f3f1f9;
$couleurOmbreNav: #ccbbcc;

// Fonts
$fontFam: sans-serif;

// Dimensions
$windowMaxSize: 1400px;