* {
  margin: 0;
  padding: 0;
  color: #333333;
}

body {
  background-color: #eeeaf5;
  font-family: sans-serif;
  display: grid;
  grid-template-rows: min-content auto min-content;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #7e2358;
  font-weight: bold;
}
a:hover {
  color: #be6398;
}

button {
  text-decoration: none;
  color: #FFFFFF;
  background: #7e2358;
  padding: 4px 6px;
  border: 1px solid #7e2358;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background-color: #be6398;
  border: 1px solid #be6398;
}

.souligne {
  text-decoration: underline;
}

.header {
  display: block;
  background-color: #f3f1f9;
  box-shadow: 0 0 20px 0 #ccbbcc;
  padding: 0.7rem 2rem;
}
.header .header-container {
  display: grid;
  grid-template-columns: min-content auto min-content;
  align-items: center;
  max-width: 1400px;
  margin: auto;
}
.header .header-container .header-container-logo {
  display: block;
}
.header .header-container .header-container-logo a {
  font-size: 2rem;
}
.header .header-container .header-container-navmenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .header-container .header-container-navmenu .header-container-navmenu-ul {
  display: flex;
  align-items: center;
}
.header .header-container .header-container-navmenu .header-container-navmenu-ul li {
  list-style: none;
  padding: 0 1rem;
}
.header .header-container .header-container-navmenu .header-container-navmenu-ul li a {
  font-size: 1rem;
}
.header .header-container .header-container-btnLogInOut {
  display: block;
  margin-left: 0.5rem;
}

.content {
  display: block;
}
.content .content-container {
  padding: 1rem;
  max-width: 1400px;
  margin: auto;
}

.footer {
  display: block;
  padding: 0.7rem 2rem;
  background-color: #f3f1f9;
  box-shadow: 0 0 20px 0 #ccbbcc;
}
.footer .footer-container {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}