.footer {
    display: block;
    padding: 0.7rem 2rem;

    .foot-container {
        max-width: $windowMaxSize;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}